* {
    margin: 0;
    box-sizing: border-box;
}

body,
main {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.col-1 {
    width: 57.5%;
    /* background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)), url('./images/bg-pattern-desktop.svg'); */
    background-image: url('./images/bg-pattern-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 220px 135px 165px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
}

.col-2 {
    width: 42.5%;
    display: block;
    height: 100vh;
    background-image: url('./images/hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    margin-bottom: 135px;
}

.title {
    font-size: 64px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 15px;
    margin-bottom: 40px;
    line-height: 1.1;
}

.title .first-line {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.title .second-line {
    color: hsl(0, 6%, 24%);
    font-weight: 700;
}

.hero p {
    color: hsl(0, 36%, 70%);
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 50px;
}

.form {
    width: 100%;
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 448px;
    width: 100%;
}

input[type="email"] {
    border: 1px solid hsl(0, 36%, 70%);
    height: 54px;
    border-radius: 50px;
    padding-left: 30px;
    line-height: 0;
    width: 100%;
    margin-right: -75px;
    opacity: 0.75;
}

.btn {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    height: 54px;
    width: 30%;
    border-radius: 50px;
    line-height: 0;
    border: none;
    z-index: 9;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.08)
}

::placeholder {
    font-size: 16px;
    color: hsl(0, 36%, 70%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}